@import "../../App.scss";

button {
	border: unset;
	padding: 8px 25px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 8px 15px rgba(50, 82, 223, 0.3);

	&.primary {
		background-color: $primary;
		color: white;
	}
}
